{% extends 'base.html' %}

{% block content %}


 
<div class="bs-example"> 
    <h1>BloodBank List</h1>   
    <div class="list-group" style="width: 50rem;">
        <a href="#" class="list-group-item list-group-item-action active">
            <i class="fa fa-hospital-o"></i> Bir Hospital
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="ee"></i> Pictures <span class="badge badge-pill badge-primary pull-right">145</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="ee"></i> Music <span class="badge badge-pill badge-primary pull-right">50</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="ee"></i> Videos <span class="badge badge-pill badge-primary pull-right">8</span>
        </a>
    </div>
    <br>
    
    
    <div class="list-group" style="width: 50rem;">
        <a href="#" class="list-group-item list-group-item-action active">
            <i class="fa fa-hospital-o"></i> Teaching Hospital
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="yp"></i> Pictures <span class="badge badge-pill badge-primary pull-right">145</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="ee"></i> Music <span class="badge badge-pill badge-primary pull-right">50</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="ee"></i> Videos <span class="badge badge-pill badge-primary pull-right">8</span>
        </a>
    </div>
</div>

{% endblock %}