{% extends 'base.html' %}

{% block content %}

<div class="bs-example">
    <h1> Blood Bank List</h1>
    {% for data in data2 %}
    <div class="card" style="max-width: 500px;">
        <div class="row no-gutters">
            <div class="col-sm-5" style="background: #868e96;">
                <img src="{{data.image.url}}" class="card-img-top h-100" alt="...">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title"><b>{{data.name}}</b></h5>
                    <b>Location:</b> {{data.address}} <br>
                    <b>City:</b> {{data.city}} <br>
                    <b>Contact:</b> {{data.contact}} <br>
                    <b>Email:</b> {{data.email}} <br>
                    <b>Website:</b> {{data.website}} <br>
                    
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    
   
</div>



{% endblock %}