{% extends 'base.html' %}

{% block content %}


<div class="bs-example">
    <h1> Donner List</h1>
    <!-- Card with default left text alignment -->
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet tempor...</p>
            <a href="#" class="btn btn-primary">View Details</a>
        </div>
    </div>
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet tempor...</p>
            <a href="#" class="btn btn-primary">View Details</a>
        </div>
    </div>
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet tempor...</p>
            <p>skdsjdsld</p>
            <p>skdhksajd</p>
            <p>sdhk</p>
            <a href="#" class="btn btn-primary">View Details</a>
        </div>
    </div>

    <!-- Card with center text alignment -->
    

    <!-- Card with right text alignment -->
    
</div>

{% endblock %}
